/* Agrega un comentario aquí para explicar la función del selector body */
body {
    /* aplica sans serif p */
    font-family: sans-serif;
    /* elimina el margin predeterminado del body */
    margin: 0;
}

/* Agrega un comentario aquí para explicar la función del selector .contenedor */
.contenedor {
    /*  */
    display: flex; 
    /*  permite que los elementos dentro del contenedor (tarejeta) se envuelvan en la siguiente linea si no caben en una  */
    flex-wrap: wrap; 
    /* distribuye uniformemente los elementos dentro de contenedor dejando espacio igual a ambos lado de la tarejeta */
    justify-content: space-around; 
    /* añade (20px) de espacio interno alrededor de todo el contenedor creando separacion entre el borde y elementos internos */
    padding: 20px;
}
/* Agrega un comentario aquí para explicar la función del selector .tarjeta */
.tarjeta {
    /* establece un ancho (de 300px) para cada tarjeta haciendo que todas tenga el mismo tamaño en terminos de ancho */
    width: 300px; 
    /* añade un margen de (10px) alrededor de cada tarjeta creando espacio entre las tarjetas y otros elementos  */
    margin: 10px; 
    /* aplica un border (1px) de color #ccc alrededor de la tarejeta */
    border: 1px solid #ccc; 
    /* agrega 20 px de espacio interno dentro de la tarejeta separando el contenido de los bordes */
    padding: 20px; 
    /* redondea las esquinas de la tarejeta con un radio (5px) dandon alos bordes de la tarejeta  una experiencia agradable */
    border-radius: 5px; 
    /*aplica una sombra debajo de la tarejeta */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
/* Agrega un comentario aquí para explicar la función del selector .tarjeta img */
.tarjeta img {
    /* Agrega un comentario aquí para explicar el atributo width */
    width: 100%; 
    /* Agrega un comentario aquí para explicar el atributo height */
    height: auto; 
    /* Agrega un comentario aquí para explicar el atributo display */
    display: block; 
    /* Agrega un comentario aquí para explicar el atributo border-radius */
    border-radius: 5px 5px 0 0; 
}
/* Agrega un comentario aquí para explicar la función del selector .tarjeta h3 */
.tarjeta h3 {
    /* Agrega un comentario aquí para explicar el atributo margin-top */
    margin-top: 10px; 
}

/* Agrega un comentario aquí para explicar la función del selector .tarjeta p */
.tarjeta p {
    /* Agrega un comentario aquí para explicar el atributo font-size */
    font-size: 0.9em; 
    /* Agrega un comentario aquí para explicar el atributo line-height */
    line-height: 1.5; 
}
@keyframes show{
    from{
      opacity: 0;
      scale: 25%;
    }
    to{
      opacity: 1;
      scale: 100%;
    }
  }
  
  img{
    view-timeline-name: --image;
    view-timeline-axis: block ;
    
    animation-timeline: --image;
    animation-name: show;
    
    animation-range: entry: 25% cover 50%;
    animation-fill: both;
  }